*{
    padding: 0;
    margin: 0;
}
.wrapper{
    margin: 0 auto;
    height: 100vh;
    max-width: 1200px;
    background-color: #e5e9ef;

    h2{
        text-transform: uppercase;
        text-align: center;
        padding: 20px 0;
    }
    .bank_card{
        width: 90%;
        margin: 0 auto;
    }
    .credit{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .img{
        width: 200px;
        height: 100px;
        background-size: cover;
    }
    div{
        text-align: center;
    }
    .name{
        width: 100px;
    }
    .debit{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .paginator{
        width: 10%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        a{
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            width: 40%;
            font-size: 40px;
            color: white;
            background-color: #ffacac ;
            border-radius: 5px;
            &:hover{
                background-color: #f30d0d;
            }
        }
    }
}